*{
    margin: 0;
    padding: 0;
}
body{

    margin-top: 4%;

    background-image: url("art_back.PNG");
    background-size: 500%;
}

.intro{
    color: rgb(80, 255, 255);
    font-size: 150%;
    text-align: center;
    font-family: cursive;
}

.ml12 {
    font-weight: 200;
    text-align: center;
    font-size: 180%;
    margin-top: 2%;;
    font-family: cursive;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  
  .ml12 .letter {
    display: inline-block;
    line-height: 1em;
  }

.name{
    color: #311192;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
    font-family: cursive;
    border-image: 2%;
}

.content{
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    height:160px;
    overflow: hidden;
    font-family: 'Lato';
    font-size:35px;
    line-height: 40px;
    color:#88001d;
  }
  .content__container{
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding:0 40px;
  }
  .content__container:before{
    content:'[';
    left:0;
  }
  .content__container:after{
    content:']';
    right:0;
    position: absolute;
  }
  .content__container:before,
  .content__container:after{
    position: absolute;
    top:0;
    color:rgb(11, 0, 61);
    font-style: 42px;
    line-height: 40px;
    -webkit-animation-name:opacity;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    animation-name:opacity;
    animation-duration:2s;
    animation-iteration-count:infinite;
  }
  .content__container__text{
    display: inline;
    float:left;
    margin:0;
  }
  .content__container__list{
    margin-top:0;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    -webkit-animation-name:change;
    -webkit-animation-duration:10s;
    -webkit-animation-iteration-count:infinite;
    animation-name:change;
    animation-duration:10s;
    animation-iteration-count:infinite;
  }
  .content__container__list__item{
    line-height: 40px;
    margin:0;
  }
  @-webkit-keyframes opacity{
    0%,100%{
      opacity:0;
    }
    50%{
      opacity:1;
    }
  }
  @keyframes opacity{
    0%,100%{
      opacity:0;
    }
    50%{
      opacity:1;
    }
  }
  @-webkit-keyframes change{
    0%,12.66%,100%{
      -webkit-transform:translate3d(0,0,0);
      transform:translate3d(0,0,0);
    }
    16.66%,29.32%{
      -webkit-transform:translate3d(0,-25%,0);
      transform:translate3d(0,-25%,0);
    }
    33.32%,45.98%{
      -webkit-transform:translate3d(0,-50%,0);
      transform:translate3d(0,-50%,0);
    }
    49.98%,62.64%{
      -webkit-transform:translate3d(0,-75%,0);
      transform:translate3d(0,-75%,0);
    }
    66.64%,79.3%{
      -webkit-transform:translate3d(0,-50%,0);
      transform:translate3d(0,-50%,0);
    }
    83.3%,95.96%{
      -webkit-transform:translate3d(0,-25%,0);
      transform:translate3d(0,-25%,0);
    }
  }
  @keyframes change{
    0%,12.66%,100%{
      -webkit-transform:translate3d(0,0,0);
      transform:translate3d(0,0,0);
    }
    16.66%,29.32%{
      -webkit-transform:translate3d(0,-25%,0);
      transform:translate3d(0,-25%,0);
    }
    33.32%,45.98%{
      -webkit-transform:translate3d(0,-50%,0);
      transform:translate3d(0,-50%,0);
    }
    49.98%,62.64%{
      -webkit-transform:translate3d(0,-75%,0);
      transform:translate3d(0,-75%,0);
    }
    66.64%,79.3%{
      -webkit-transform:translate3d(0,-50%,0);
      transform:translate3d(0,-50%,0);
    }
    83.3%,95.96%{
      -webkit-transform:translate3d(0,-25%,0);
      transform:translate3d(0,-25%,0);
    }
  }


.img{

    margin-top: 15%;
    margin-bottom: 5%;
    border-color: rgb(228, 2, 115);
    border-radius: 100%;

}
.abt{
    background-image: url("green_back.PNG");
    background-size: 100%;
    padding: 1%;
    padding-top: 2%;
    padding-left: 2%;

}

.about{
    
    margin-bottom: 10%;
    margin-left: 4%;
    color: #8a0473;
    font-size: 150%;
    font-family: cursive;
}

.para{
    color: rgb(4, 46, 138);
    font-size: 140%;
    font-family: cursive;
    font-weight: bolder;
    text-align: center;
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 20%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 7%;
    padding-bottom: 7%;
}
.gls{
    background-image: url("goal_back1.PNG");
    background-size: 100%;
    padding: 1%;

}
.goals{
    text-align: start;
    font-size: 150%;
    font-family: cursive;
    margin-bottom: 10%;
    margin-top: 5%;
    margin-left: 4%;
    color: rgb(235, 0, 39);
}
.quote{
    font-size: 175%;
    color: rgb(122, 19, 122);
    font-family: cursive;
    margin-left: 10%;

}
.crcl{
    margin-top: 15%;
    margin-bottom: 30%;
    color: rgb(167, 3, 85);
    font-size: 160%;
    font-family: cursive;
    font-weight: bolder;
    text-align: center;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
}
.acadmcs{
    background-image: url("academics_back.PNG");
    background-size: 100%;

    padding: 5%;
}
.academics{
    text-align: start;
    font-size: 150%;
    font-family: cursive;
    margin-left: 1%;
    margin-bottom: 10%;
    color: rgb(0, 134, 11);
}
.sqr{
    margin-top: 15%;
    margin-bottom: 30%;
    color: rgb(70, 3, 3);
    font-size: 150%;
    font-family: cursive;
    text-align: justify;
    text-align: center;
    text-align: start;
    margin-left: 5%;
    margin-right: 20%;
}
.skills{
    margin-bottom: 10%;
}
.skill{
    background-image: url("white_back.PNG");
    padding: 1%;
    background-size: 90%;
}
.a{
    text-align: start;
    margin-bottom: 10%;
    margin-left: 4%;
    font-size: 150%;
    font-family: cursive;
    color: rgb(255, 11, 64);
}

.para2{
    color: rgb(24, 0, 160);
    font-size: 150%;
    font-family: cursive;
    font-weight: bolder;
    text-align: center;
    text-align: justify;

    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;

    padding-bottom: 7%;
    text-size-adjust: 10%;
}


.art{
    text-align: center;
    color: rgb(145, 255, 2);
    font-size: 150%;
    font-family: cursive;
    margin-left: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.drawing{
    display: flex;
}

.pic{
    width: 500px;
    height: 500px;
    margin: 0;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 60%;
    object-fit: cover;
    display: none;
}
.pic img:first-child{
    display: block;
}

.drawing{
    flex-flow: column-reverse;
    align-items: center;
}
.drawing .btn{
    margin-top: 50px;
}

.drawing .btn button{
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all .1s;
}
.drawing .btn button:hover{
    background-color: rgb(85, 16, 99);
    color: white;
} 
.drw{
    margin-top: 3%;
    padding-bottom: 5%;
}
.click{
    text-align: center;
    font-size: 130%;
    color: rgb(0, 0, 136);
    margin-top: 1%;
    font-family: cursive;
}
.checkbox{
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border: none;
    color: rgb(255, 27, 27);
}

.projects{
    margin-top: 5%;
    text-align: start;
    font-size: 150%;
    font-family: cursive;
    margin-left: 4%;
    margin-bottom: 5%;
    color: rgba(172, 0, 52, 0.849);
}
.para3{
    color: rgb(31, 63, 5);
    text-align: justify;
    text-align: center;
    font-size: 150%;
    font-family: cursive;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
}
.media{
    text-align: start;
    margin-top: 10%;
    font-size: 150%;
    font-family: cursive;
    margin-bottom: 7%;
    margin-left: 4%;
    color: rgb(214, 13, 137);
}
.page{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 120%;
    font-family: cursive;
    margin: 2%;
}
.github{
    text-decoration: none;
    color: rgb(238, 0, 0);
}
.git{
    text-decoration: none;
    text-align: center;
    color: rgb(255, 0, 0);
    margin-bottom: 3%;
}
.ml9 {
    text-align: end;
    text-align: center;
    font-weight: 200;
    font-size: 4em;
    color: rgb(9, 18, 99);
    font-family: cursive;
    }
  
  .ml9 .text-wrapper {
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }
